# ------------------------------------
# 1. Виртуальное окружение (Venv)
# ------------------------------------
venv/
.venv/
env/
.env/
first-docker-task\venv

# ------------------------------------
# 2. Файлы кэша Python
# ------------------------------------
# Игнорируем стандартные папки кэша
__pycache__/
*.pyc
# Временные файлы компиляции
*.pyd
*.pyo

# ------------------------------------
# 3. Файлы операционных систем и IDE
# ------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db

# IDE (например, VS Code, PyCharm)
.idea/
.vscode/
*.swp

# ------------------------------------
# 4. Файлы данных и логи
# ------------------------------------
# Если ваше приложение генерирует файлы логов или БД
logs/
*.log
*.sqlite3
db.sqlite3

# Конфиденциальные файлы с секретами
.env.secret
config.ini
